
    body {
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .img-detail {
        margin-right: 100px;
    }

    .img-detail img {
        margin-left: 20px;

        height: 1000px;
        width: auto;
        border-radius: 30px;
        object-fit: contain;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Tạo bóng cho ảnh */
    }


    .color-box {
        width: 100px;
        height: 40px;
        border: solid 2px black;
        cursor: pointer;

    }


    .order-button:hover {
        background-color: black; /* Màu nền khi hover */
        color: white; /* Màu chữ khi hover */
        cursor: pointer; /* Thay đổi con trỏ để gợi ý rằng nút có thể nhấn */
    }
    .icon-bordered {

        border: 2px solid #000;
        border-radius: 20%;
        padding: 10px;
    }




