#filter {
    padding: 20px;
}

#size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

#size button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

#color {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#color div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}